<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>SITE AULA 06 EJS</title>
</head>
<body>
    <h1>BOA NOITE MEUS NOBRES! HOJE É DIA DE EJS!</h1>
    <img src="/css/imgs/imgs.jpg" alt="CALMA HOMI">
    <h2><%= titulo %></h2>
    <a href="/pagina"> PAGINA </a>


    
</body>
</html>